/* 
    Document   : thread
    Created on : Aug 22, 2010, 7:08:09 PM
    Author     : Faraj
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

